* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #121f3d;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNDAiIGhlaWdodD0iMjQwIiBzdHlsZT0ib3ZlcmZsb3c6dmlzaWJsZTtlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI0MCAyNDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Im0yMjguNzQgMTQ3LjE4LTgxLjU1IDgxLjU2Yy0xNS4wMSAxNS4wMi0zOS4zNiAxNS4wMi01NC4zNyAwbC04MS41NS04MS41NmMtMTUuMDEtMTUuMDItMTUuMDEtMzkuMzYgMC01NC4zN2w4MS41NS04MS41NWMxNS4wMS0xNS4wMSAzOS4zNi0xNS4wMSA1NC4zNyAwbDgxLjU1IDgxLjU1YzE1LjAxIDE1LjAyIDE1LjAxIDM5LjM2IDAgNTQuMzciIHN0eWxlPSJmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiMwNzkxZTYiLz48L3N2Zz4=)
    #0c1633;
  background-position: -200%;
  background-repeat: no-repeat;
  background-size: 130%;
  color: #eff3f8;
}
.header {
  background-color: #03091e;
  display: flex;
  align-items: center;
  height: 10vh;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.header__img {
  padding-left: 1.2rem;
  width: 20rem;
}
.header__menu {
  align-items: center;
  margin-right: 1.2rem;
  text-align: right;
  transition: 350ms all;
  padding-right: 1.2rem;
}
.header__menu:hover {
  align-self: flex-start;
  background-color: #33b1ff;
  border: none;
  border-radius: 8px;
  color: #03091e;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1rem 1.2rem;
}
.header__menu--profile {
  align-items: center;
  display: flex;
}
.header__menu ul {
  display: none;
  list-style: none;
}
.header__menu:hover ul,
ul:hover {
  display: block;
}
.header__menu li {
  margin: 1rem 0 1.5rem 0;
}
.header__menu li a {
  color: #eff3f8;
  text-decoration: none;
}
.header__menu li a:hover {
  text-decoration: underline;
}
.header__menu--profile img {
  margin-right: 0.8rem;
  width: 4rem;
}
.header__menu--profile p {
  color: #eff3f8;
}
.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 20vh);
}
.text {
  text-align: center;
  margin-bottom: 1rem;
  color: #eff3f8;
  font-size: 8.5rem;
}
.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}
.footer {
  background-color: #03091e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
  height: 10vh;
  width: 100%;
}
.footer a {
  color: #eff3f8;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0 2rem;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
